.padre{
    font-family: 'Times New Roman', Times, serif;
    

    display: flex;
   
    justify-content: space-around;
    background-color: aquamarine;
}
.hijo{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
  /**  justify-content: flex-end;
    display: flex;**/
}
input{
    height: 28px;
   
}
button{
    height: 34px;
}